@import "base/variables";
@import "base/general";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/benefits";

* {
    font-family: 'Museo Sans Cyrl';
}

.container {
    max-width: 942px;
    margin: 0 auto;
}