@import "base/variables";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/title";
@import "blocks/consultation";
@import "blocks/benefits";
@import "blocks/forms";
@import "blocks/caorusel";
@import "blocks/catalog";
@import "blocks/catalog-item";

* {
    font-family: 'Museo Sans Cyrl';
}

.container {
    position: relative;
    max-width: 942px;
    margin: 0 auto;
}