.carousel {
    min-height: 742px;
    padding: 81px 0;  
    &__inner {
        position: relative;
        margin: 0 auto;
        width: 750px;
        height: 580px;
    }
    .prev, .next {
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        background: #fff;
        img {
            width: 31px;
            height: 50px;
            }
    }
    .next {
        left: auto;
        right: 0px;
    }
    .tns-outer {
        // .tns-nav {
        //     button {
        //         background:blue;
        //         width: 30px;
        //         height: 30px;
        //         margin-right: 5px;
        //     }
        //     .tns-nav-active {
        //         background:red;
        //     }
        // }
        img {
            display: block;
            margin: 0 auto;
        }
    }

}