.feedback {
    min-height: 920px;
    padding-bottom: 48px;
    &__item {
        margin-top: 58px;
        display: flex;
        justify-content: flex-start;
        .Item__descr {
            margin-left: 60px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #0D0D0D;
            span {
                display: block;
                font-weight: 700;
                font-size: 18px;
                line-height: 18px;
                &:nth-child(2) {
                    display: block;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    color: #646464;
                    margin-bottom: 10px;
                }
            }     
        }
        img {
            display: block;
            width: 169px;
            max-height: 169px;
        }
    }
}